{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container-full">
        <div class="velaArticleWrap mb30">
            {% section 'vela-template-article' %}
        </div>
    </div>
</section>