{% include 'breadcrumb' %}
<section id="pageContent" class="pageBlogContent mb30">
    <div class="container-full">
        <div class="velaBlogWrap">
            {% section 'vela-template-blog' %}
        </div>
    </div>
</section>