{% comment %}
    {% include 'breadcrumb' %}
{% endcomment%}
<section id="pageContent">
    <div class="container-full">
        <div class="pageCollectionInner">
            <div class="row">
                <div id="proListCollection" class="velaCenterColumn velaCenterColumnFix col-xs-12 col-sm-12">
                  {% section 'short-info-bralette' %}
                  {% section 'vela-collection-bralette' %}
                  {% section 'featured-text-section' %}
                  {% section 'vella-collection-section-1' %}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="foot" style="margin-bottom:0;">
  <section id="pageContent">
	{% section 'vella-collection-section-2' %}
   </section> 
</section>