{% comment %}
    {% include 'breadcrumb' %}
{% endcomment%}
{% section 'vela-collection-banner' %}
<section id="pageContent">
    <div class="container-full">
        <div class="pageCollectionInner mb20 pb-md-30">
            <div class="filterCollectionFullwidth">
                <div class="filterTagFullwidth">
                    <div class="filterTagFullwidthButton">
                        <i class="fa fa-sliders"></i>
                        <span>{{ 'collections.sidebar.filter' | t }}</span>
                    </div>
                    <div class="filterTagFullwidthContent">
                        <div class="filterTagFullwidthClose"></div>
                        {% section 'sidebartop' %}
                        {% section 'sidebarfilter' %}
                    </div>
                </div>
                <div class="collBoxSort">
                    {% include 'collection-sorting' %}
                </div>
            </div>
            <div class="row">
                <div id="proListCollection" class="velaCenterColumn col-xs-12">
                    {% section 'vela-template-collection' %}
                </div>
            </div>
        </div>
    </div>
</section>