<!-- Default Template -->
<div class="micro_finance_main">
  {% section 'micro-count-section' %}
  {% section 'why-microfinance-section' %}
  {% section 'why-underwear-section' %}
  {% section 'location-section' %}
  {% section 'impact-repeat-section' %}
  {% section 'grows-years-section' %}
  {% section 'where-headed-section' %}
  {% section 'how-to-work-section' %}
  {% section 'eby-funds-section' %}
</div>



