{% layout 'prelaunch' %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="prelaunch-landing">

  <div class="email-box blue">
    <p>Limited quantities available.<br/>Get in line now!</p>
    <button class="reserve-spot">Reserve My Spot</button>
  </div>

  <div class="form-activated">
    <div class="close"></div>
    <div class="logo">
      <a href="/"><img src="{{ 'logo-blue.svg' | asset_url }}" alt="EBY" title="EBY"/></a>
    </div>

    <h2>Seamless Cotton</h2>
    <div class="form">
      <h3> Limited quantities available.<br/>Reserve your spot in line now!</h3>

      <form id="reservation-form">

        <input type="hidden" name="g" value="U63fp3">
        <input type="hidden" name="$fields" value="$consent">
        <input type="hidden" name="$list_fields" value="$consent">
        <div id="email-block">
          <label id="reservationEmailLabel" for="k_id_email">Email <span>(required)</span></label>
          <input type="email" name="email" id="k_id_email" required>
        </div>

        <label for="name">First Name <span>(optional)</span></label>
        <input id="name" type="text" name="$first_name">

        <label for="phone">Phone <span>(optional)</span></label>
        <input id="phone" type="text" name="$phone_number">
        <button type="submit">Submit</button>
        <div class="checkbox">
          <input type="checkbox" name="$consent" id="consent-email" required checked/>
          <label for="consent-email">By submiting my info, I agree to recieve marketing com’s per EBY’s <a href="https://shop.join-eby.com/pages/terms-of-use" target="_blank">Terms of Service</a> and <a href="https://shop.join-eby.com/pages/privacy-policy" target="_blank">Privacy Policy</a>.</label>
        </div>
      </form>
    </div>

    <div class="success" id="reservation-success">
      <h2>You’re Reserved!</h2>
      <div class="line"></div>
      <p>We’ll see you on March 5th!</p>
      <a href="https://shop.join-eby.com/collections" target="_blank">Shop EBY</a>
    </div>
  </div>
  <div class="prelaunch-landing-container">

    <div class="row">
      <div class="col-sm-6 sm-order-1">
        <div class="right-column">
          <div class="intro">
            <div class="logo">
              <a href="/"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/eby_434a75fc-2ae8-44eb-8ec7-da90fabd89e8.svg?v=1610556589" alt="EBY" title="EBY"/></a>
            </div>
            <h1>Invisible Cotton</h1>
            <i>The seamless underwear <br/>you love, now in cotton</i>
            <strong>March 5th</strong>
            <h4>MEMBERS ONLY RELEASE</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-6 sm-order-2">
        <div class="left-column">

          <div class="intro-images-block">
            <div class="intro-block">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/denim_cotton_-_thong_-_missy_-_model_fr_2x_db656772-ffc3-4a43-a265-b605dfe40c63.jpg?v=1610555810" alt="Advanced-Cotton Collection"/>
            </div>
            <div class="background">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Cotton_Typographic_1_2x_d1ae0006-10b4-409e-91f3-31c43eb77a5d.png?v=1610555802" alt="Advanced-Cotton Collection"/>
            </div>
          </div>

          <div class="single-text-block">
            <p>The first ever truly seamless cotton underwear — breathes with your skin, stretches when you move, never loses its shape, panty lines always go unseen</p>
          </div>

          <div class="two-images-vertically-block">
            <div class="image-block">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/denim_cotton_-_bikini_-_plus_-_model_bk_2x_953875e4-5396-46b1-a949-d39ccdf56e45.jpg?v=1610555805" alt="Advanced-Cotton Collection"/>
            </div>
            <div class="image-block">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/peach_cotton---brief---missy---model_fr_2x_46ac12a1-132d-4069-8a21-ba0dacebe68a.jpg?v=1612291928" alt="Advanced-Cotton Collection"/>
            </div>
          </div>

          <div class="single-text-block">
            <div class="text-container">
              <h4>
                OUR ALL TIME #1 REQUEST<br/>
                <strong>
                  THIS COLLECTION <u>WILL</u>
                  SELL OUT FAST
                </strong>
              </h4>
            </div>
          </div>

          <div class="four-images-container">
            <div class="four-images-block">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/product_lf_-_white_cotton_-_bralette_2x_f3149573-0885-4c7e-9640-ab9d68359db6.jpg?v=1610555797" alt="Advanced-Cotton Collection"/>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/product_lf_-_denim_cotton_-_bikini_2x_1fdae5b8-d099-4d4d-9958-74e16d3aee25.jpg?v=1610555798" alt="Advanced-Cotton Collection"/>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/product_lf_-_peach_cotton_-_brief_2x_9eebec42-ecc6-446c-9669-68ed4f8ca18b.jpg?v=1610555798" alt="Advanced-Cotton Collection"/>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/product_lf_-_black_cotton_-_thong_2x_40d39bc9-5b90-4119-9342-961ea36adbd5.jpg?v=1610555797" alt="Advanced-Cotton Collection"/>
            </div>
          </div>

          <div class="text-block">
            <p>Bikini</p>
            <p>Bralette</p>
            <p>Brief</p>
            <p>Thong</p>
          </div>

          <div class="two-images-vertically-block extra-margin">
            <div class="image-block">
              <p class="navy">Peach</p>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Material_Macro_-_Peach_2x_50ed27f5-5c64-4b9b-a178-dca8e312fcb5.jpg?v=1610555807" alt="Advanced-Cotton Collection" class="tall"/>
            </div>
            <div class="image-block">
              <p class="white">Denim Blue</p>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Material-Macro---Denim_2x_a7538ab3-6f74-44bf-ad49-2f927bb45ca2.jpg?v=1612291928" alt="Advanced-Cotton Collection" class="tall"/>
            </div>
          </div>

          <div class="single-image-block">
            <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/black_cotton---fcbrief---plus---model_sd_2x_2x_7b0408bd-22eb-4404-b1c2-d1dc2d32acb5.jpg?v=1612474484" alt="Advanced-Cotton Collection"/>
          </div>
          <div class="single-image-block">
            <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/white_cotton---thong---missy---model_fr_2x_2x_21efcd0f-d348-4ffc-801b-6380a531df56.jpg?v=1612474484" alt="Advanced-Cotton Collection"/>
          </div>

          <div class="two-images-horizontally-block">
            <div class="image-block">
              <p class="white">Black</p>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Material_Macro_-_Black_2x_871125a3-30a4-4286-9421-a764c4a1b6da.jpg?v=1610555803" alt="Advanced-Cotton Collection"/>
            </div>
            <div class="image-block">
              <p class="black">White</p>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Material_Macro_-_White_2x_6f7173a3-b53a-47a9-82fb-76bc1bb122e1.jpg?v=1610555798" alt="Advanced-Cotton Collection"/>
            </div>
          </div>

          <div class="square-block">
            <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Cotton_Typographic_2_2x_daf5bd8b-b88e-47d8-a6dd-7935468e6768.png?v=1610555801" alt="Advanced-Cotton Collection"/>
          </div>

          <div class="two-images-block">
            <div class="top">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/denim_cotton_-_bikini_-_plus_-_model_fr_2x_fd68f54d-5130-4292-a815-43614ae18819.jpg?v=1610555811" alt="Advanced-Cotton Collection"/>
            </div>
            <div class="bottom">
              <div class="sizes">
                <p>XS</p>
                <div class="line"></div>
                <p>4X</p>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/peach_cotton---brief---missy---model_bk_2x_9d5948ba-e851-46d9-a00b-0251012adbbc.jpg?v=1612373395" alt="Advanced-Cotton Collection"/>
            </div>
          </div>

          <div class="image-background-block">
            <div class="image-block">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/black_cotton---bralette---missy---model_sd_2x_2x_42b0fc9d-4291-4657-aaed-f14fb55f3ef2.jpg?v=1612474484" alt="Advanced-Cotton Collection"/>
            </div>
            <div class="background">
              <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Cotton_Typographic_1_2x_d1ae0006-10b4-409e-91f3-31c43eb77a5d.png?v=1610555802" alt="Advanced-Cotton Collection"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pop_size" style="display: none;" >
  <div class="pop_inner">
    <div class="pop_wrap pop_rebuy_id_{{ rebuy_ids[0] }}">
      <span class="colz_pop">×</span>
      <div class="ebyGuideChartWrapper">
        <div class="ebyTablet-guideWrapper">
          <p class="ebyPantyGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Panty.jpg?v=1608664423" class="fr-fic fr-dib lazyload"></p>
          <p class="ebyBraletteGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Bralette.jpg?v=1608664424" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
        </div>
      </div>
    </div>
    <div class="pop_wrapper_backing">&nbsp;</div>
  </div>
</div>

<script type="text/javascript">
jQuery('input').focus( function() {
    var $input = $(this);    
    var scroll = $input.offset();
});

</script>