{% comment %}
<!-- Default Template -->
<section id="pageContent">
    <div class="container-full">
        <div class="pageContainer">
            <h1 class="velaPageTitle">{{ page.title }}</h1>
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>
{% section 'our-product-block' %}
{% endcomment %}

{% section 'membership-top' %}
{% section 'membership-block' %}
{% section 'membership-steps' %}
{% section 'confidence-project' %}
{% section 'what-makes-section' %}



