<section class="collToolbar">
  <div class="collToolbarWrapper">
    <div class="attributeSorter sizeSorter primarySorter">
      	<div class="sorterWrapper primarySorterWrapper">
          	<p>Select your size</p>
          	<button class="size_guide">View Guide</button>
          	<ul class="sorterListing sizeOptListing">
              <li class="sortOpt">
                <label for="currPantySize-xs">
                  <input class="with-gap" name="currPantySize" type="radio" value="xs" id="currPantySize-xs" checked />
                  <span>XS</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-sm">
                  <input class="with-gap" name="currPantySize" type="radio" value="sm" id="currPantySize-sm" />
                  <span>SM</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-md">
                  <input class="with-gap" name="currPantySize" type="radio" value="md" id="currPantySize-md" />
                  <span>MD</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-lg">
                  <input class="with-gap" name="currPantySize" type="radio" value="lg" id="currPantySize-lg" />
                  <span>LG</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-xl">
                  <input class="with-gap" name="currPantySize" type="radio" value="xl" id="currPantySize-xl" />
                  <span>XL</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-1x">
                  <input class="with-gap" name="currPantySize" type="radio" value="1x" id="currPantySize-1x" />
                  <span>1X</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-2x">
                  <input class="with-gap" name="currPantySize" type="radio" value="2x" id="currPantySize-2x" />
                  <span>2X</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-3x">
                  <input class="with-gap" name="currPantySize" type="radio" value="3x" id="currPantySize-3x" />
                  <span>3X</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-4x">
<!--                   <input class="with-gap disabledOpt" name="currPantySize" type="radio" value="4x" id="currPantySize-4x" disabled="disabled" /> -->
				  <input class="with-gap" name="currPantySize" type="radio" value="4x" id="currPantySize-4x" />
                  <span>4X</span>
                </label>
              </li>
          	</ul>
      	</div>
      	<footer class="sortPreloadingContainer circleProgressWrapper primaryLoaderWrapper">
      	   <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      	</footer>
    </div>
    <div class="attributeSorter pantyStyleSorter supportSorter">
      	<div class="sorterWrapper">
      		<p>Filter by style</p>
            <ul class="sorterListing pantyStyleOptListing">
              	<li class="chip sortOpt optOn" data-sortOpt="pantyStyle-all">
                  All
                  <i class="ebyicon-close-thin"></i>
                </li>
              	<li class="chip sortOpt" data-sortOpt="pantyStyle-bikini">
                  Bikini
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-thong" >
                  Thong
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-brief">
                  Brief
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-highwaisted">
                  Highwaisted
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-cheeky">
                  Cheeky
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-g_string">
                  G-String
                  <i class="ebyicon-close-thin"></i>
                </li>
            </ul>	
      	</div>
    </div>
  </div>
  <footer class="sortPreloadingContainer barProgressWrapper secondaryLoaderWrapper">
  	  <div class="progress">
          <div class="indeterminate"></div>
      </div>
  </footer>
</section>