<div class="velaCollections">

  
  <div class="vela_pro_middle">
    <div class="rowFlex">
      <div class="ff col-xs-12 col-sm-12 col-md-6 col-xl-6">

        <span class="price_collcs">$22.50 </span>&nbsp;
        <span class="price_non"> / $18 non-members</span>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
        <div class="join_btn_collec"><a href="#">Join Now</a></div>
      </div>
    </div>
  </div>
  
  <div class="proList">
    <div class="velaOwlRow owlCarouselPlay">
		
      {% for i in (1..6) %}
      <div class="item">
        <div class="velaProBlock grid  lastItem" data-price="18.50" sa-swatch-root="true" swatch-generated="true">

          <div class="velaProBlockInner">
            <div class="proHImage d-flex flexJustifyCenter">
              <a class="proFeaturedImage" href="/products/nude-thong">
				<!--                 
				https://cdn.shopify.com/s/files/1/0313/4062/5964/products/Black-Bralette---Missy-model_sd_2x_850c3a4b-a0e5-496a-97b7-5a59d9760536.jpg?v=1597104135
                https://cdn.shopify.com/s/files/1/0313/4062/5964/products/leopard_bralette-missy_fr.jpg?v=1595258450
                https://cdn.shopify.com/s/files/1/0313/4062/5964/products/Nude-Thong---Missy-model_fr_2x_14e3d911-1ee8-4bb6-9dc5-85cde881ed8c_800x_crop_top.jpg?v=1597088205
                
                https://cdn.shopify.com/s/files/1/0313/4062/5964/products/Black-Bralette---Missy-model_bk_2x_d6d64c0b-b90c-458e-8ac6-54d4a42d9523.jpg?v=1597104135
                https://cdn.shopify.com/s/files/1/0313/4062/5964/products/leopard_bralette-missy_sd.jpg?v=1595258450
                https://cdn.shopify.com/s/files/1/0313/4062/5964/products/Nude-Thong---Missy-model_sd_2x_8bf8cdae-f390-4590-8e2b-e938f96cddc5_800x_crop_top.jpg?v=1597088525
                 -->
                <img class="t1 img-responsive" alt="Nude Thong" 
                     src="//cdn.shopify.com/s/files/1/0313/4062/5964/products/{% cycle 'Black-Bralette---Missy-model_sd_2x_850c3a4b-a0e5-496a-97b7-5a59d9760536', 'leopard_bralette-missy_fr', 'Nude-Thong---Missy-model_sd_2x_8bf8cdae-f390-4590-8e2b-e938f96cddc5_800x_crop_top' %}.jpg">
                <span class="hidden-sm hidden-xs">
				<img class="img-responsive" alt="Nude Thong" 
                     src="//cdn.shopify.com/s/files/1/0313/4062/5964/products/{% cycle 'Black-Bralette---Missy-model_bk_2x_d6d64c0b-b90c-458e-8ac6-54d4a42d9523', 'leopard_bralette-missy_sd', 'Nude-Thong---Missy-model_fr_2x_14e3d911-1ee8-4bb6-9dc5-85cde881ed8c_800x_crop_top' %}.jpg">

                </span></a><div class="proButton clearfix">

              <div class="productQuickView">
                <a class="btn btnProduct btnProductQuickview" href="#velaQuickView" data-handle="nude-thong" title="Quickview">
                  <i class="icons icon-eye"></i>
                  <span class="text">Quick Add</span>
                </a>
              </div>

              <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">

                <input type="hidden" name="id" value="34450374164524"><a class="btn btnProduct btnAddToCart" href="/products/nude-thong" title="Select options">
                <span class="icons icon-handbag"></span>
                <span class="select_options text">Select options</span>
                </a></form>

              </div>
            </div>
            <div class="proContent"><div class="productType"><a href="/collections/types?q=Core%20Underwear" title="Core Underwear">Core Underwear</a></div><h5 class="proName">
              <a href="/products/nude-thong">{% cycle 'Black', 'Leopard', 'Nude' %} {{title}}</a>
              </h5><div class="proReviews">
              <span class="shopify-product-reviews-badge" data-id="5304598691884"></span>
              </div><div class="proPrice">
              <div class="priceProduct ">$15 <span>/ $18.50 non-members</span></div></div><div class="velaSwatchCus">


              </div></div>
          </div>
          <div class="swatches swatches-type-collections" style="z-index:12;"><div id="swatch-group14896" option-name="Color" option-target="group14896" type-group="true">
            <div class="swatch-single swatch-view-stack">
              <ul class="swatch-view swatch-view-image swatch-align-center">
                <li class="swatch-view-item" orig-value="Black">
                  <div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Black" orig-value="Black" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/black-thong">
                    <div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/black-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div>
                    <div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Black</p></div></div></li><li class="swatch-view-item" orig-value="Leopard"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Leopard" orig-value="Leopard" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/leopard-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/leopard-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Leopard</p></div></div></li><li class="swatch-view-item" orig-value="Nude"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head swatch-selected" current-product="true" type="image" data-value="Nude" orig-value="Nude" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/nude-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/nude-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Nude</p></div></div></li><li class="swatch-view-item" orig-value="Grey"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Grey" orig-value="Grey" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/grey-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/grey-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Grey</p>
                </div>
                </div>
                </li>
              </ul>
            </div>
            </div><div option-name="Panty Size" option-target="option1" style="display: none;"><div class="swatch-single swatch-view-stack">
            <ul class="swatch-view swatch-view-button swatch-align-center"><li class="swatch-view-item" orig-value="xs"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="xs"><span swatch-inside="true">xs</span></div></li><li class="swatch-view-item" orig-value="sm"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="sm"><span swatch-inside="true">sm</span></div></li><li class="swatch-view-item" orig-value="md"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="md"><span swatch-inside="true">md</span></div></li><li class="swatch-view-item" orig-value="lg"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="lg"><span swatch-inside="true">lg</span></div></li><li class="swatch-view-item" orig-value="xl"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="xl"><span swatch-inside="true">xl</span></div></li><li class="swatch-view-item" orig-value="1x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="1x"><span swatch-inside="true">1x</span></div></li><li class="swatch-view-item swatch-item-unavailable" orig-value="2x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="2x"><span swatch-inside="true">2x</span><div class="swatch-unavailable" swatch-inside="true"></div></div></li><li class="swatch-view-item" orig-value="3x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="3x"><span swatch-inside="true">3x</span></div></li><li class="swatch-view-item" orig-value="4x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="4x"><span swatch-inside="true">4x</span></div></li></ul></div></div></div></div>

      </div>
      {% endfor %}
      
      <div class="item">
        <div class="velaProBlock grid  lastItem" data-price="18.50" sa-swatch-root="true" swatch-generated="true">

          <div class="velaProBlockInner">
            <div class="proHImage d-flex flexJustifyCenter">
              <a class="proFeaturedImage" href="/products/nude-thong">

                <img class="t1 img-responsive" alt="Nude Thong" 
                     src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/c1.jpg?v=1597247926">
                <span class="hidden-sm hidden-xs">
				<img class="img-responsive" alt="Nude Thong" 
                     src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/c2.jpg?v=1597247926">

                </span></a><div class="proButton clearfix">

              <div class="productQuickView">
                <a class="btn btnProduct btnProductQuickview" href="#velaQuickView" data-handle="nude-thong" title="Quickview">
                  <i class="icons icon-eye"></i>
                  <span class="text">Quick Add</span>
                </a>
              </div>

              <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">

                <input type="hidden" name="id" value="34450374164524"><a class="btn btnProduct btnAddToCart" href="/products/nude-thong" title="Select options">
                <span class="icons icon-handbag"></span>
                <span class="select_options text">Select options</span>
                </a></form>

              </div>
            </div>
            <div class="proContent"><div class="productType"><a href="/collections/types?q=Core%20Underwear" title="Core Underwear">Core Underwear</a></div><h5 class="proName">
              <a href="/products/nude-thong">Nude Comfort Shape</a>
              </h5><div class="proReviews">
              <span class="shopify-product-reviews-badge" data-id="5304598691884"></span>
              </div><div class="proPrice">
              <div class="priceProduct ">$15 <span>/ $18.50 non-members</span></div></div><div class="velaSwatchCus">


              </div></div>
          </div>
          <div class="swatches swatches-type-collections" style="z-index:12;"><div id="swatch-group14896" option-name="Color" option-target="group14896" type-group="true">
            <div class="swatch-single swatch-view-stack">
              <ul class="swatch-view swatch-view-image swatch-align-center">
                <li class="swatch-view-item" orig-value="Black">
                  <div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Black" orig-value="Black" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/black-thong">
                    <div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/black-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div>
                    <div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Black</p></div></div></li><li class="swatch-view-item" orig-value="Leopard"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Leopard" orig-value="Leopard" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/leopard-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/leopard-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Leopard</p></div></div></li><li class="swatch-view-item" orig-value="Nude"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head swatch-selected" current-product="true" type="image" data-value="Nude" orig-value="Nude" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/nude-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/nude-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Nude</p></div></div></li><li class="swatch-view-item" orig-value="Grey"><div class="swatch-image swatch-group-selector star-image-border-3-head star-set-image-rad-50-head star-set-image-rad-10-head" type="image" data-value="Grey" orig-value="Grey" swatch-option="group14896" swatch-url="https://eby-by-sofia-vergara.myshopify.com/products/grey-thong"><div style="width: 32px; height: 32px; background-size: 200%; background-image: url(&quot;https://starappsstudio.s3.amazonaws.com/cdn/apps/vsk/s10261/swatch_images/group14896/grey-thong&quot;);" class="star-set-image star-set-image-sq star-set-image-rad-50 star-size-sm star-set-image-scale-2 star-set-image-position-bottom star-set-image-rad-10 star-image-border-3" swatch-inside="true"></div><div style="display: none; z-index: -1;" class="swatch-img-text star-btn-size-sm star-set-btn-rad-10 star-btn-text-upper" swatch-inside="true"><p swatch-inside="true">Grey</p>
                </div>
                </div>
                </li>
              </ul>
            </div>
            </div><div option-name="Panty Size" option-target="option1" style="display: none;"><div class="swatch-single swatch-view-stack"><ul class="swatch-view swatch-view-button swatch-align-center"><li class="swatch-view-item" orig-value="xs"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="xs"><span swatch-inside="true">xs</span></div></li><li class="swatch-view-item" orig-value="sm"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="sm"><span swatch-inside="true">sm</span></div></li><li class="swatch-view-item" orig-value="md"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="md"><span swatch-inside="true">md</span></div></li><li class="swatch-view-item" orig-value="lg"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="lg"><span swatch-inside="true">lg</span></div></li><li class="swatch-view-item" orig-value="xl"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="xl"><span swatch-inside="true">xl</span></div></li><li class="swatch-view-item" orig-value="1x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="1x"><span swatch-inside="true">1x</span></div></li><li class="swatch-view-item swatch-item-unavailable" orig-value="2x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="2x"><span swatch-inside="true">2x</span><div class="swatch-unavailable" swatch-inside="true"></div></div></li><li class="swatch-view-item" orig-value="3x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="3x"><span swatch-inside="true">3x</span></div></li><li class="swatch-view-item" orig-value="4x"><div class="swatch-button swatch-selector star-set-btn star-btn-size-sm star-btn-border-2 star-set-btn-rad-10 star-btn-text-upper swatch-allow-animation" style="" swatch-option="option1" type="swatch-button" orig-value="4x"><span swatch-inside="true">4x</span></div></li></ul></div></div></div></div>

      </div>
      
      <div class="double-item">
        {% include 'split0' %}
      </div>


    </div>
  </div>

</div>