<div class="selection-list-wrapper">
  <div class="step-top-h">
    <h2>What’s your size?</h2>
    <p>
      Body-glorifying underwear for every body. Find your perfect fit. <a class="size_guide" href="javascript:void(0);">Size Guide</a>
    </p>
  </div>
  <div class="sizes-error quiz_error">

  </div>
  <ul class="selection-list">
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---XS-MD_2x_a59162a1-fd0a-4a7a-9ffe-55998fb53468.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---XS-MD_2x_c4f97cce-8ed0-4e43-b561-4ebaf1dc75f6.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---XS-MD_2x_611207b4-b7aa-4d16-b2bb-f40b1de2a3f2.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---XS-MD_2x_071356ae-2d18-4b5b-962d-fe8099ee7141.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---XS-MD_2x_d09071c7-21c8-4128-b21f-962ffa7c0a5d.jpg?v=1601016264" value="XS" id="XS">
      <label class="waves-effect waves-dark" data-label="XS" for="XS">00 - 2</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---XS-MD_2x_a59162a1-fd0a-4a7a-9ffe-55998fb53468.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---XS-MD_2x_c4f97cce-8ed0-4e43-b561-4ebaf1dc75f6.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---XS-MD_2x_611207b4-b7aa-4d16-b2bb-f40b1de2a3f2.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---XS-MD_2x_071356ae-2d18-4b5b-962d-fe8099ee7141.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---XS-MD_2x_d09071c7-21c8-4128-b21f-962ffa7c0a5d.jpg?v=1601016264" value="SM" id="SM">
      <label class="waves-effect waves-dark" data-label="SM" for="SM">2 - 4</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---XS-MD_2x_a59162a1-fd0a-4a7a-9ffe-55998fb53468.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---XS-MD_2x_c4f97cce-8ed0-4e43-b561-4ebaf1dc75f6.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---XS-MD_2x_611207b4-b7aa-4d16-b2bb-f40b1de2a3f2.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---XS-MD_2x_071356ae-2d18-4b5b-962d-fe8099ee7141.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---XS-MD_2x_d09071c7-21c8-4128-b21f-962ffa7c0a5d.jpg?v=1601016264" value="MD" id="MD">
      <label class="waves-effect waves-dark" data-label="MD" for="MD">6 - 8</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---LG-1X_2x_2dcfe05d-483c-4c31-93cf-afe66ab7143c.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---LG-1X_2x_936a50d9-e78e-4868-81ac-92e69e49fceb.jpg?v=1601016265"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---LG-1X_2x_cddee4ca-904d-4117-8d1c-e329ade8678d.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---LG-1X_2x_a9cb24a6-28ba-4c91-9c30-f95e37197083.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---LG-1X_2x_fafa916e-0cab-4213-9acb-53d3cabfe83b.jpg?v=1601016264" value="LG" id="LG">
      <label class="waves-effect waves-dark" data-label="LG" for="LG">10 - 12</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---LG-1X_2x_2dcfe05d-483c-4c31-93cf-afe66ab7143c.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---LG-1X_2x_936a50d9-e78e-4868-81ac-92e69e49fceb.jpg?v=1601016265"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---LG-1X_2x_cddee4ca-904d-4117-8d1c-e329ade8678d.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---LG-1X_2x_a9cb24a6-28ba-4c91-9c30-f95e37197083.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---LG-1X_2x_fafa916e-0cab-4213-9acb-53d3cabfe83b.jpg?v=1601016264" value="XL" id="XL">
      <label class="waves-effect waves-dark" data-label="XL" for="XL">14 - 16</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---LG-1X_2x_2dcfe05d-483c-4c31-93cf-afe66ab7143c.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---LG-1X_2x_936a50d9-e78e-4868-81ac-92e69e49fceb.jpg?v=1601016265"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---LG-1X_2x_cddee4ca-904d-4117-8d1c-e329ade8678d.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---LG-1X_2x_a9cb24a6-28ba-4c91-9c30-f95e37197083.jpg?v=1601016264" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---LG-1X_2x_fafa916e-0cab-4213-9acb-53d3cabfe83b.jpg?v=1601016264" value="1X" id="1X">
      <label class="waves-effect waves-dark" data-label="1X" for="1X">16 - 18w</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---2X-4X_2x_cffcafb0-24d3-439e-be1f-c4ec63ec1381.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---2X-4X_2x_13d1e62e-f78f-4242-ae5d-9bdea3d5f185.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---2X-4X_2x_051a8160-7904-49bb-85c8-1e8f530c24e3.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---2X-4X_2x_c76b085e-171f-426d-a1a7-5f3c69f0bfd8.jpg?v=1601016265" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---2X-4X_2x_6c81ccd9-4d14-4d29-9977-9deb25a7624f.jpg?v=1601016264" value="2X" id="2X">
      <label class="waves-effect waves-dark" data-label="2X" for="2X">18 - 20w</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---2X-4X_2x_cffcafb0-24d3-439e-be1f-c4ec63ec1381.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---2X-4X_2x_13d1e62e-f78f-4242-ae5d-9bdea3d5f185.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---2X-4X_2x_051a8160-7904-49bb-85c8-1e8f530c24e3.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---2X-4X_2x_c76b085e-171f-426d-a1a7-5f3c69f0bfd8.jpg?v=1601016265" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---2X-4X_2x_6c81ccd9-4d14-4d29-9977-9deb25a7624f.jpg?v=1601016264" value="3X" id="3X">
      <label class="waves-effect waves-dark" data-label="3X" for="3X">22 - 24w</label>
    </li>
    <li>
      <input type="radio" name="sizes" 
             data-thong-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Thong---2X-4X_2x_cffcafb0-24d3-439e-be1f-c4ec63ec1381.jpg?v=1601016264"
             data-brief-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Brief---2X-4X_2x_13d1e62e-f78f-4242-ae5d-9bdea3d5f185.jpg?v=1601016264"
             data-mixed-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Mixed---2X-4X_2x_051a8160-7904-49bb-85c8-1e8f530c24e3.jpg?v=1601016264"
             data-fc-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---Full-Coverage---2X-4X_2x_c76b085e-171f-426d-a1a7-5f3c69f0bfd8.jpg?v=1601016265" 
             data-hw-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Size---HW---2X-4X_2x_6c81ccd9-4d14-4d29-9977-9deb25a7624f.jpg?v=1601016264" value="4X" id="4X">
      <label class="waves-effect waves-dark" data-label="4X" for="4X">26 - 28w</label>
    </li>
  </ul>
  
  <div class="custom-details">
    <h4>100% Fit Guarantee</h4>
    <p>If at any time they don’t fit perfectly, we’ll send you a new size within a week.</p>
  </div>
</div>