<div class="selection-list-wrapper">
  <div class="step-top-h">
    <h2>Choose Your Colors</h2>
    <p>We'll surprise you with an assortment of colors based on which color group you select.</p>
  </div>
  <div class="colors-error quiz_error">

  </div>
  <ul class="selection-list">
    <li>
      <input type="radio" name="colors" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Color---Neutrals_2x_577660bf-0779-4581-9a84-34da278a0c48.jpg?v=1601016265" value="Only Neutrals" id="Only Neutrals">
      <label class="waves-effect waves-dark" data-label="Only Neutrals" for="Only Neutrals">
        We'll curate your collection from our Neutrals pallete which includes blacks, nudes in a range of skin tones and other calming colors
        <span class="color-swatches">
          <span class="ebySwatchTile-caramel"></span>
          <span class="ebySwatchTile-grey"></span>
          <span class="ebySwatchTile-rich_mocha"></span>
          <span class="ebySwatchTile-black"></span>
          <span class="ebySwatchTile-nude"></span>
        </span>
      </label>
    </li>
    <li>
      <input type="radio" name="colors" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Color---Mixed_2x_89fe2b7f-c9dc-45f7-a6c0-2a1e006a585e.jpg?v=1601016265" value="Mixed Colors" id="Mixed Colors">
      <label class="waves-effect waves-dark" data-label="Mixed Colors" for="Mixed Colors">
        We'll curate your collection from our Mixed Colors pallete which includes a mix of neutrals, build colors, and one print
        <span class="color-swatches">
          <span class="ebySwatchTile-caramel"></span>
          <span class="ebySwatchTile-fjord_blue"></span>
          <span class="ebySwatchTile-sleek_tiger"></span>
          <span class="ebySwatchTile-grey"></span>
          <span class="ebySwatchTile-dark_palm"></span>
        </span>
      </label>
    </li>
  </ul>

  <div class="custom-details">

  </div>
</div>