<div class="selection-list-wrapper">
  <div class="step-top-h">
  	<h2>Review your selects</h2>
  	<p>10% of proceeds from every EBY box goes to small loans for women around the world, giving them the power to start their own businesses and lift their families and communities out of poverty. </p>
  </div>
  <div id="summary-error" class="summary-error quiz_error"></div>
  <ul class="selection-list" id="summary-detail">
    
  </ul>
</div>