<div class="selection-list-wrapper">
  <div class="infor">
    <h3>Build your box</h3>
    <p>Create your perfect box of seamless undies. Cancel or skip anytime. Free shipping, always.</p>
    <div class="price-plan">
      <h3>$45</h3>
      <p><s>$54</s> — You save <span>$10.50</span></p>
    </div>
  </div>
  <div class="custom-plan-error quiz_error">
  </div>
  <ul class="selection-list">
    <li>
      <input type="radio" name="pair" value="Choose 3 Panties" checked data-pack="3" id="Choose 3 Panties">
      <label class="waves-effect waves-light" data-label="" for="Choose 3 Panties">Choose 3 Panties</label>
    </li>
    <li>
      <input type="radio" name="pair" value="Choose 5 Panties" data-pack="5" id="Choose 5 Panties">
      <label class="waves-effect waves-light" data-label="" for="Choose 5 Panties">Choose 5 Panties</label>
    </li>
  </ul>
  <div class="quiz-pick-bottom custom-plan-detail"><u>3 Panties</u> Delivered <u>Every 3 Months</u></div>
  
  <div class="selection-wrapper">
    <ul class="product-selection-wrapper">
      <li data-index="1" data-product="" data-group="" class="selected" ></li>
      <li data-index="2" data-product="" data-group="" class="" ></li>
      <li data-index="3" data-product="" data-group="" class="" ></li>
      <li data-index="4" data-product="" data-group="" class="hide" ></li>
      <li data-index="5" data-product="" data-group="" class="hide" ></li>
    </ul>
  </div>
</div>