<div class="selection-list-wrapper">
  <ul class="selection-list">
    <li>
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---Mixed_2x_f96b14ae-f1a7-4d4b-af16-d404b6d404cf.jpg?v=1601016263" value="Mixed Styles" id="Mixed Styles">
      <label class="waves-effect waves-dark" data-label="Mixed Styles" for="Mixed Styles">
        For she who wants (and gets) it all: briefs, thongs, and high waisted
      </label>
    </li>
    <li>
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---Brief_2x_d8c59e86-a7d7-4d45-a348-3d5a8889298e.jpg?v=1601016264" value="All Briefs" id="All Briefs">
      <label class="waves-effect waves-dark" data-label="All Briefs" for="All Briefs">
        Never fussy. Always sexy.
      </label>
    </li>
    <li>
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---HW_2x_f2d76342-d800-4618-89a9-ae67a4f74625.jpg?v=1601016264" value="All High Waisted" id="All High Waisted">
      <label class="waves-effect waves-dark" data-label="All High Waisted" for="All High Waisted">
        Maximum coverage, maximum comfort
      </label>
    </li>
    <li class="cbOption">
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---Custom_2x_f96380e4-15a4-40df-96c9-33a89d66a967.jpg?v=1601016264" value="Custom Collection" id="Custom Collection">
      <label class="waves-effect waves-dark" data-label="Custom Collection" for="Custom Collection">
        You know best. Build the underwear drawer of your dreams with a customized membership box
      </label>
    </li>
    <li class="hide">
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---Thong_2x_4749086d-966c-4705-a201-e7344e54a340.jpg?v=1601016263" value="All Thongs" id="All Thongs">
      <label class="waves-effect waves-dark" data-label="All Thongs" for="All Thongs">
        Next best thing to naked
      </label>
    </li>
    <li class="hide">
      <input type="radio" name="styles" data-img="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/Quiz---Style---Full-Coverage_2x_47b5367b-d63d-425e-be55-0116829bfd21.jpg?v=1601016263" value="Full Coverage" id="Full Coverage">
      <label class="waves-effect waves-dark" data-label="Full Coverage" for="Full Coverage">
        A perfect mix of our full coverage styles: briefs, bikini, and high waisted
      </label>
    </li>
    <li>
      <a href="javascript:void(0);" class="load-more-btn">+ More Options</a>
    </li>
  </ul>
</div>
