<div class="velaCollections">
  <div class="add_text">
    <div class="header">
    	Fit Guaranteed
    </div>
    <div class="content">Our aim is to provide the best fit with consistency across all sizes. If you are unhappy in any way with your EBYs, we will help you find your absolute best fit— or your money back</div>
  </div>
</div>