<div class="velaCollections">
  <div class="bralette_slide">
    <div class="left_area">
      <h2 class="pnk">Mix it up!</h2>
      <h2>3 Pack or Quarterly<br>Membership</h2>
      <div class="btn_area">
        <a class="btn btn-pink" href="#">Join Now</a> <a class="btn btn-trans" href="#">Shop All</a>
      </div>
    </div>
    <div class="right_area">
      <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/un.png?v=1597218285"/>
    </div>
  </div>
</div>