<div class="velaCollections">
  <div class="add_text">
    <div class="header">
    	Message About Bralette
    </div>
    <div class="content">Content Message About Bralette, Content Message About Bralette, Content Message About Bralette, Content Message About Bralette</div>
  </div>
</div>