<div class="velaSlideCollection">
    <div class="container-full">
        <div class="velaSlideCollectionInner">
            {%- section 'vela-slideshow' -%}
            {%- section 'vela-collections' -%}
        </div>
    </div>
</div>