{%- if page.metafields.membershipboxcontent.membership_box_content != blank -%}
{{ page.metafields.membershipboxcontent.membership_box_content }}
{%- endif -%}
{%- if page.metafields.membershipcontenttwo.membership_box_content_two != blank -%}
{{ page.metafields.membershipcontenttwo.membership_box_content_two }}
{%- endif -%}
{%- if page.metafields.membershipcontentthr.membership_box_content_three != blank -%}
{{ page.metafields.membershipcontentthr.membership_box_content_three }}
{%- endif -%}
  


{% schema %}
  {
    "name": "Membership Steps",
    "class": "membership-steps-main steps-sections",
    "max_blocks": 20,
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "color",
            "id": "our_pro_bg",
            "label": "Block Background",
            "default": "#f2cfbf"
          },
		  {
            "type": "color",
            "id": "our_pro_txt",
            "label": "Block Text Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Step Number"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "text",
            "id": "link_btn",
            "label": "Shop"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          },
          {
            "type": "html",
            "id": "content",
            "label": "HTML",
            "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Membership Steps",
        "category": "Membership",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
