<div class="top_categories_inner">
  <ul>
    {% for block in section.blocks %}
    <li>
      {% if block.settings.link != blank %}
      	<a href="{{ block.settings.link }}">
      {% endif %}
      {% if block.settings.image != blank %}
      	<span class="coll_thumb"><img src="{{ block.settings.image | img_url: '800x' }}" alt=""></span>	
      {% endif %}
      {% if block.settings.cta_label != blank %}
      <span class="thumb_name">{{ block.settings.cta_label | escape }}</span>
      {% endif %}
      {% if block.settings.link != blank %}
      	</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>


{% schema %}
  {
    "name": "Top Categories Thumbnail",
    "class": "top_categories",
    "max_blocks": 10,
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Main Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Top Categories Thumbnail",
        "category": "New",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
