<div style="background-color: {{ page.metafields.headebackgroundcolor.headed_background_color }};">
  <div class="wrapper">
    {{ page.metafields.blktencontent.blk_ten_content }}
  </div>
</div>

{% schema %}
  {
    "name": "Where we’re headed",
    "class": "headedMain",
    "settings": [
    {
      "type":"text",
      "id":"heading",
      "label":"Enter Heading"
    },
    {
      "type":"text",
      "id":"headed_number",
      "label":"Enter Count Content"
    },
	  {
      "type":"textarea",
      "id":"impact_text_content",
      "label":"Enter text"
    }
    ]
  }
{% endschema %}
