<section id="pageContent">
    <div class="container-full">
        <div class="velaAccountContainer">
            {%- assign isLogin = false -%}
            {% include 'vela-login-register' %}
        </div>
    </div>
</section>